h1, h2, h3, h4, h5, p {
    margin : 0px;
    padding: 0px;
}

h1 {
    font-size: 15;
}

h2 {
    font-size: 13.5;
}

h3 {
    font-size: 12.5;
}

h4 {
    font-weight: normal;
    font-style : italic;
}

p, td, ul, li, h4 {
    font-size: 11;
}

ul {
    padding-left: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

section {
    height          : fit-content;
    width           : 90%;
    margin          : 10px auto 10px auto;
    border-top      : 2px solid black;
    padding-top     : 5px;
    padding-bottom  : 5px;
}

table {
    width: 100%;
}

tr, td {
    margin: 0;
    padding: 0;
}

td {
    width: 50%;
}

/* title section start */
#section-title {
    padding-top  : 7%;
    border-top   : None;
    text-align   : center;
    margin-bottom: 1%;
}
#section-title h4 {
    font-style : normal;
    font-weight: bold;
}
#contact-details {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* title section start */
/* profile section start */
#section-profile {
    display: grid;
    grid-template-columns: 20fr 75fr;
    grid-gap: 10px;
}
/* profile section end */
/* section-employment start */
#section-employment {
    display: flex;
    flex-direction: column;
}

.employment {
    display              : grid;
    /* grid-gap             : 5px; */
    margin-top           : 5px;
    grid-template-columns: 19% 56% 25%;
    grid-template-rows   : auto auto;
}
.employment-title {
    order: 2;
}
.employment-dates {
    order: 1;
}
.employment-location {
    text-align: right;
    order: 3
}
.employment-description {
    grid-column     : 2 / 4;
    margin-top      : 5px;
    order           : 4
}
.employment-description p {
    margin-top: 10px;
}
/* section-employment end */
/* section-education start */
#section-education {
    display: flex;
    flex-direction: column;
}

#header-education-history {
}
.education {
    display              : grid;
    /* grid-gap             : 5px; */
    margin-top           : 5px;
    grid-template-columns: 20% 55% 25%;
    grid-template-rows   : auto auto;
}
.education-title {
    order: 2;
}
.education-dates {
    order: 1;
}
.education-location {
    text-align: right;
    order: 3
}
.education-description {
    grid-column     : 2 / 4;
    margin-top      : 5px;
    order           : 4
}
/* section-education end */
/* skills section start */
#section-skills {
    display: grid;
    grid-template-columns: 20fr 75fr;
    grid-gap: 10px;
}
#header-skills {
}
#skills-description {
}
/* skills section end */
/* referees section start */
#section-referees {
    display: grid;
    grid-template-columns: 20 75fr;
    grid-gap: 10px;
}
#header-referees {
}
#referees-description {
}
.referee-name {
    font-size: 13;
    font-weight: bold;
}
/* referees section end */

a, a:hover, a:visited, a:active {
  color: darkred;
  text-decoration: none;
 }
